<div class="page-header">
  <%= link_to comments_path, class: 'btn btn-default' do %>
    All Comments
  <% end %>
  <%= link_to edit_comment_path(@comment), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show comment</h1>
</div>

<dl class="dl-horizontal">
  <dt>Comment:</dt>
  <dd><%= @comment.comment %></dd>

  <dt>User:</dt>
  <dd><%= @comment.user %></dd>

  <dt>Commentable:</dt>
  <dd><%= @comment.commentable %></dd>

</dl>
